{{#> layouts/main title="Cash Detail" }}
<h1>Cash Game #{{cash.id}}</h1>
<p>User ID: {{cash.user_id}}</p>
<p>Amount: ${{cash.amount}}</p>
<p>Date: {{cash.start_datetime}}</p>
<p>Description: {{cash.description}}</p>
{{/layouts/main}}
